body {
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: 0 0;
}

canvas {
  background: #000;
  margin-top: 30px;
}
